[2014-01-05 16:35] MatthewRuddy opened #1 "Composer errors upon install"
Running into composer errors when trying to install this;

[code]

-- EDIT -- Believe this may actually be a composer issue after investigating further.

[2014-01-06 01:30] #1 closed, assigned to nobody

[2014-08-15 12:13] mikaelmattsson opened #2 "Fork from wordpress/wordpress"
Why isn't this just a fork from the wordpress git repo here on github? Wouldn't that look better? Or is this  a way to boost your own account activity?

[2014-11-20 20:19] okko opened #3 "Packagist update delay"
https://packagist.org/packages/johnpbloch/wordpress lists 4.0 as latest, about 2 hours after your commits here. Is there a way to get packagist update faster?

[2014-11-20 20:35] #3 closed, assigned to nobody

[2015-02-19 03:29] blueliquiddesigns opened #4 "4.1.1 Packagist Tag not working?"
Hi,

I'm using composer and saw the 4.1.1 update was released so I changed `"johnpbloch/wordpress": "4.1.0",` to `"johnpbloch/wordpress": "4.1.1",` however after I run `composer update` and log into the website is still says I'm running 4.1 and need to update.

Am I missing something?

[2015-02-19 05:22] blueliquiddesigns commented on #4
Nevermind. It appears to have resolved itself.

[2015-02-19 05:22] #4 closed

[2015-02-19 12:37] johnpbloch commented on #4
Thanks for reporting this, @blueliquiddesigns.

For future reference (for all our future selves), the script I use to keep the repo up-to-date with upstream runs every 15 minutes and the SVN repo it tracks (http://core.svn.wordpress.org) often takes several hours to update its tags. Between those two, I usually wait at least 12 hours before trying to bump a tag, but YMMV. If those updates are more

[2015-02-19 20:40] blueliquiddesigns commented on #4
Thanks for the feedback.

[2015-02-25 21:04] gmazzap opened #5 "Add a virtual package for WordPress core?"
At the moment, best way to have WordPress sites entirely managed with Composer is to use this package.

And according to [Packagist stats](https://packagist.org/search/?q=wordpress), it's also the _de facto_ standard way to do that.

So, first of all, **thanks**.

Today, for first time, I've worked on a package that make sense to use **only** in WordPress sites **entirely** managed via Composer.

[2015-02-25 21:43] johnpbloch commented on #5
:+1: for the proposal in general (rely on abstractions instead of concretions). I will have to think about the specific proposal of using `"wordpress/wordpress"` as the virtual package name. I'm inclined to say we should use something else.

My main concern comes from uncertainty about how `"provides"` works. For example if my site requires *my* WP package and your package (which requires the virt

[2015-02-25 21:56] mnapoli commented on #5
I think it shouldn't use `wordpress/wordpress` if this is not the official repository.

[2015-02-25 22:39] Giuseppe-Mazzapica commented on #5
@mnapoli Problem is it doesn't exist any official repository. And who knows if it will ever exist. That's why I'm suggesting to use that name in `provide` (not as the package name).

I think this repo is the only one that has the numbers to establish a standard for a virtual WordPress alias.

I've suggested `wordpress/wordpress` because in the official trac ticket that's the name that was proposed

[2015-02-25 23:27] mnapoli commented on #5
Oh clever!

[2015-02-25 23:33] johnpbloch commented on #5
I plan to continue updating this package from upstream until nobody is using it any more. Even if core releases an official composer package.

Only if the providing package is gone. In which case they'd need to update their composer manifest anyway, since non-existent packages are un-meetable dependencies. This, to me, is highly preferable to maybe accidentally installing a second copy of core whi

[2015-02-25 23:42] Giuseppe-Mazzapica commented on #5
Of course that's the biggest problem.

If I understand well your opinion is:

 - option 1: do nothing
 - option 2: let's use something that isn't `wordpress/wordpress`

I prefer the second, but I'll survive the first :) and I'd love some other people opinion.

[2015-02-26 00:14] johnpbloch commented on #5
My opinion is option 2 and only option 2. Using virtual packages is a great idea and I love it and it should definitely happen.

[2015-02-26 00:29] Giuseppe-Mazzapica commented on #5
Nice. Let's see I can persuade you.

Let's assume we use `wordpress/wordpress` as virtual name.

If and when WordPress will release official Composer package you can replace `provide` with [`conflict`](https://getcomposer.org/doc/04-schema.md#conflict).

That way a double core installation will be never possible and so people will be forced to switch from this package to official one. When no one

[2015-02-26 00:33] Giuseppe-Mazzapica commented on #5
Moreover, if people store their `composer.lock` file  (that's pivotal in whole site Composer packages) they will be able to recreate their exact site state even if the switch from `provide` to `conflict` had happened meanwhile.

[2015-02-26 10:42] Rarst commented on #5
Against.

`wordpress/*` vendor “belongs” to the WordPress project. It is pointless to make assumptions about it and outright problematic (in regards to unknown future) to actually use it.

While the situation isn't _optimal_, in my opinion it's _acceptable_. I think `suggest` block is perfectly passable option to recommend _some_ version of WordPress package.

[2015-02-26 11:48] Giuseppe-Mazzapica commented on #5
@Rarst there is no doubt that `wordpress/*` belongs to WordPress project, but IMO that has nothing to do with the fact that we may or not may use it in the **`provide`** block.

IMO `provide` make perfectly sense for things that you **don't** own, just like `suggest` and `conflict`. Even in the Composer docs they are all listed under "package links". And "link" don't implies ownership.

In real wo

[2015-02-26 11:53] Rarst commented on #5
Interesting, do you have a backstory and reasoning on `psr/log-implementation` ? Quick google didn't come up with anything but that page on Packagist.

[2015-02-26 12:03] Giuseppe-Mazzapica commented on #5
I remember something I read on the topic, but can't find the article.

Summary is that being a set common interfaces, if in my packages I uses only methods from those interfaces (via DI) I can make use of any package that implements them, no need to require a *specific* implementations.

Only posts I found regarding the argument are:

 - https://devedge.wordpress.com/2014/09/27/composer-and-virtua

[2015-02-26 16:27] johnpbloch commented on #5
That's a good point that none of the packages providing `psr/log-implementation` own the psr vendor name. I'm all for using the wordpress vendor name.

However, to continue using that example, they also didn't claim to provide `psr/log` while PSR-3 was being voted on, nor (I imagine) would they sit idly by if FIG started discussing whether they should release a package named `psr/log-implementatio

[2015-02-26 16:40] Rarst commented on #5
One other point I want to raise is that it might be WordPress environment _without WordPress package_. For example I have a mixed kind of install where some plugins are managed by Composer, but WordPress core is "normal" and manages itself.

Making core a hard requirement in some form would prevent package from working in such kind of install.

Overall I feel this is bit of a solution in search of

[2015-02-26 16:54] johnpbloch commented on #5
Real quick, set up a test for what happens when a provided package gets added as a non-virtual one: https://gist.github.com/johnpbloch/b325aa2e93d92100c80d

Results: 3rd package gets installed as normal but doesn't interfere with providing package either.

[2015-02-26 17:20] Giuseppe-Mazzapica commented on #5
@johnpbloch don't forget that **`conflict`** can be used to avoid 2 copies of WP to be installed in any case.

Regarding pros and cons I think that most of them are related to a future WordPress implementation of Composer. And once there is no way to know how it will ever be IMO is just matter of personal preference. And I don't actually have one: `wordpress/wordpress` or `wordpress/wordpress-impl

[2015-04-23 09:26] QWp6t commented on #5
It seems like this is mostly a cosmetic thing, with you not wanting to use the johnpbloch namespace.

I'm unconvinced that this is necessary, but to each his own. Meh.

[2015-04-23 11:47] salaros opened #6 "Release candidates of 4.2 branch"
Please add 4.2 branch, I know it is still being developed and its release was delayed, but still some people would love to switch to 4.2 RC4 and use some of its features (for example [conditional javascript tags](https://core.trac.wordpress.org/ticket/16024) )

[2015-04-23 13:51] johnpbloch commented on #5
@QWp6t I'm not getting the vibe that it's a cosmetic preference. I think it's more about flexibility in use. Virtual packages are a pretty useful feature of composer and one that (I think) fits the bill here.

Not strictly *necessary*, but still useful to some people without affecting anybody who doesn't want to use it.

[2015-04-23 13:57] johnpbloch commented on #6
The repo is completely automated in it's updates, so without a `/branches/4.2` directory upstream, I won't be adding one manually, lest I mess automation up.

I think we can get the same effect, though, by automatically adding the next release's dev branch as an alias to the master branch. During the release cycle, e.g. this one being for 4.2, `4.2.x-dev` would alias to `dev-master`. Once there's

[2015-04-23 17:26] johnpbloch commented on #6
And it looks like core branched today, so your specific need for a 4.2 dev branch is met. Still, it'd probably be a good idea to add some logic to alias the current dev branch to master until the actual branch is created.

[2015-04-27 19:00] conatus opened #7 "How quickly does the automated update of this occur?"
Thanks for this great resource.

Automatic just pushed [a security update](https://wordpress.org/news/2015/04/wordpress-4-2-1/), how quickly before I can grab it from Composer?

[2015-04-27 19:05] conatus commented on #7
It already happened, my bad. Hmmmm.

[2015-04-27 19:05] #7 closed

[2015-04-27 22:58] johnpbloch commented on #7
For what it's worth, there are 2 things at play in getting a new release out:

This repository tracks the svn repo at http://core.svn.wordpress.org/. That repo gets updated upstream by the core team, but tags don't get synced immediately. Sometimes it takes them an hour or two to sync tags. On top of that, my update script runs on a 15 minute cron schedule, so that could add up to 15 minutes of de

[2015-04-27 22:59] johnpbloch commented on #7
For now, if point releases are important enough to get more quickly than the tagged release lag permits, I'd advise using the dev branch for that major version (e.g. `4.2.x-dev`).

[2015-05-26 23:40] vesper8 opened #8 "what am i doing wrong, running composer update/install is destructive"
Hi there,

I just started using git with wordpress and initially I included everything in my git repo which I quickly found out was a bad idea. Then I found out about this package.. and about wpackagist.org which is awesome.. I am now moving to using composer for most of my plugins and for managing wordpress including both initial installation and updating.

Here's what I'm not getting. There are

[2015-05-27 01:53] johnpbloch commented on #8
Hey there! I'm glad you're giving this package a go.

It sounds to me like you're trying to use the standard installation setup for WordPress, which has all of your site's customizations, etc. inside of it. That's pretty much the standard setup for the majority of WordPress sites. As you've noticed, it is essentially impossible to manage your WordPress site with Composer using this setup because i

[2015-05-27 05:21] vesper8 commented on #8
hey thanks for the detailed reply! That does sound like a decent solution to have the wp-content be outside of the wp tree.. but i'm not sure i see the real benefit in doing that if it causes some problems sometimes. I came up with a different solution which so far seems to work very well. I'm installing wp-core to a different folder and simply running a copy script on post-install and post-update

[2015-05-27 14:55] johnpbloch commented on #8
Sounds to me like an efficient solution to your problem. :)

[2015-05-27 14:55] #8 closed

[2015-07-13 21:42] bmeynell opened #9 "wordpress-install-dir not being honored"
I have:

[code]

Yet `wordpress` always installs in the current directory.

[2015-07-13 21:53] johnpbloch commented on #9
Thanks for the bug report. Could you please provide your complete `composer.json` contents?

[2015-07-13 21:57] bmeynell commented on #9
Trimmed down version (excluded most "require" packages):

[code]

[2015-07-13 22:09] johnpbloch commented on #9
I ran `composer update` on that `composer.json` and it installed in the expected location of `web/wordpress`. This was my output:

[code]

Could you please run composer update and paste the output?

[2015-07-13 22:29] bmeynell commented on #9
This is working now.

*throws hands up*

No idea why it didn't the first couple of tries. Sorry for the noise and thanks for the prompt replies.

Cheers!

[2015-07-13 22:29] #9 closed

[2015-08-01 17:40] skynet opened #10 "4.3 branch"
There's a 4.3 RC already. Did you ever get to sync these?

https://wordpress.org/news/2015/07/wordpress-4-3-release-candidate/

tx,

[2015-09-15 16:43] Unkulunkulu opened #11 "Currently in 4.4 Alpha version, should be in 4.3.1"
At least wp-includes/version.php shows that the current version of codebase is in 4.4-alpha. Can you confirm that this is in 4.3.1

[2015-09-15 16:56] #11 closed

[2015-10-23 05:14] blueliquiddesigns commented on #6
+1 for aliasing the current dev branch to master so we can easily test beta and RC versions of WordPress.

[2015-10-30 11:20] artursopelnik opened #12 "Add languages"
Could you add languages - https://translate.wordpress.org/

[2015-10-30 13:31] johnpbloch commented on #12
This is out of the scope of a core package. I recall somebody had done some work to make independent packages for each language pack, but I cannot recall who it was or where to find their work. I'll see what I can find and let you know.

[2015-10-30 13:31] #12 closed

[2015-10-30 13:32] johnpbloch commented on #12
@artursopelnik It was http://languages.koodimonni.fi/

[2015-10-30 14:12] artursopelnik commented on #12
@johnpbloch coool :+1:

[2015-11-29 06:14] khromov opened #14 "Avoid installing default themes"
Is there any way to get rid of the default "Twenty" themes that are included when the Composer package gets installed?

[2015-11-29 17:43] johnpbloch commented on #14
This isn't something we're going to do in this repository at the moment. It would be something worth considering for [when I split out a new core package with no dependencies](https://code.johnpbloch.com/2015/07/upcoming-changes-to-my-wordpress-fork/), though.

[2015-11-29 17:43] #14 closed

[2015-11-29 23:18] khromov commented on #14
@johnpbloch Sounds like a good way forward. The reason I started this issue is because you typically have to update themes independently, and it'd be nice to do it with WPackagist. Right now you end up having to move `wp-content/themes` to avoid not being able to update the default themes without a core update.

[2015-12-17 00:42] joshdaws opened #15 "Method for automating this repo"
Can you post your method of automating this repo somewhere? My company is nervous about using this as a dependency so I'd like to explore managing our own automated repo.

[2015-12-17 21:26] johnpbloch commented on #15
I'm not entirely sure why you wouldn't feel nervous using my automation code if you're nervous about using the code it produces.

The automation is not available for general release for a few various reasons and I'm disinclined to change that policy.

[2015-12-17 21:26] #15 closed

[2015-12-24 12:07] christianzt19 commented on #14
+1

[2016-01-06 22:00] joshdaws commented on #15
Because a security release has been released and your automation code hasn't picked it up. :-/

[2016-02-01 09:30] eshimischi opened #16 "add_submenu_page not working with johnpbloch/wordpress on Bedrock"
Hello. Very strange to say but i made my custom post type Release for Discography and tried to sort out things with add_submenu_page to add an Option submenu with no luck.

[code]

[code]

<img width="478" alt="shot1" src="https://cloud.githubusercontent.com/assets/983201/12706681/cc0ec524-c89a-11e5-9f33-308ef8afda77.png">

It works fine with official Wordpress. Tried to reinstall Bedrock and comp

[2016-02-02 21:29] djvdorp opened #17 "Push v3.9.11 tag to Packagist"
Sorry for bothering you about this, but I'd like to update my deployments to v3.9.11 asap, and according to Packagist you can only trigger this refresh (it's not there yet):

[code]

[2016-02-02 21:43] timbofield opened #18 "Auto update Packagist"
Could you setup an auto update for the packgist account
https://packagist.org/packages/johnpbloch/wordpress

Seems this isn't in place currently as 4.4.2 is still not available via packagist. Should be possible to have packagist update on commit to this repo.

Thanks

[2016-02-02 21:45] MasonM commented on #17
I'm not associated with this repo, but you can just change your `composer.json` to pull directly from this repo. That's what I did, because I don't want to wait for packagist to update. Example:
[code]

[2016-02-02 22:06] johnpbloch commented on #18
Auto update was already set up. Not really sure if Packagist or Github was to blame, but I went ahead and did a manual update.

[2016-02-02 22:06] #18 closed

[2016-02-02 22:07] johnpbloch commented on #17
Either github or packagist were messing up the auto-update. Hopefully this was a one-time failure.

[2016-02-02 22:07] #17 closed

[2016-02-02 22:10] johnpbloch commented on #16
@eshimischi What version of WordPress was this happening on? And does the problem still happen with this repo with all other plugins turned off and the default theme active?

[2016-02-02 22:23] eshimischi commented on #16
@johnpbloch 4.4.1. Yes i checked the Decibel premium theme also [Decibel](http://decibel.wolfthemes.com) it has some plugins that add the submenus to custom type menus, i can't see it also, but when we avoid Bedrock and use repo without it, it works.

[2016-02-02 22:26] eshimischi commented on #16
@johnpbloch wrote to the Bedrock github and they said that its not a problem of Bedrock, but i still think that something wrong with /wp/wp-admin/... I don't have any .htaccess in **web** directory, perhaps i need to make some tests with it.

[2016-02-02 22:48] eshimischi commented on #16
@johnpbloch Just made a test:
Install Bedrock, compose install (wordpress 4.4.1)
There are no any plugins, Twenty Fifteen theme activated
Add a code to functions.php

`$args = array(

	'labels' => $labels,
	'public' => true,
	'publicly_queryable' => true,
	'show_ui' => true,
	'show_in_menu' => true,
	'query_var' => false,
	'rewrite' => array( 'slug' => 'release' ),
	'capability_type' => 'post',
	'

[2016-02-02 23:13] johnpbloch commented on #16
@eshimischi This is just a hunch, but can you try changing the required capability from `edit_plugins` to `manage_options`? I'm not positive Bedrock does this by default, but I know a lot of people that use composer to manage their sites completely shut off file modification, which automatically removes the `edit_plugins` capability from all users.

If that doesn't work, I'll try to reproduce the

[2016-02-02 23:16] eshimischi commented on #16
@johnpbloch you just decided my problem, yes indeed `manage_options` works and now i can see the Settings submenu. Didn't see any tips about changing `edit_plugins` before so thanks again for your time!

[2016-02-02 23:23] johnpbloch commented on #16
I'm glad it was something simple (although terribly obscure), and not an actual bug in the WP or Bedrock codebase. Thanks for getting in touch with your question!

[2016-02-02 23:23] #16 closed

[2016-02-04 17:23] egifford opened #19 "twentysixteen missing from 4.4 versions"
This project is really useful. Thanks so much for maintaining it!

Is it possible to have the twentysixteen theme included in the next release?

[2016-02-04 19:06] johnpbloch commented on #19
I'll look into that. In the meantime, you can get it using [wpackagist](http://wpackagist.org) by requiring `wpackagist-theme/twentysixteen` in your own composer.json.

[2016-02-04 19:15] johnpbloch commented on #19
How odd. The subversion repositories only have ten through fifteen, although the release zip from .org has only fourteen through sixteen.

I'm not entirely convinced that the core package should be shipping with sub-packages, since that's technically a hidden dependency. Ideally, sites that use composer to manage their installation should also add explicit dependencies on all themes they expect to

[2016-02-04 19:18] johnpbloch commented on #19
It would appear twentysixteen is not added to the core svn repository as an external either. (at least not the one my script uses).

[2016-02-04 22:08] egifford commented on #19
Thanks for following up on this so quickly and for the tip on installing `wpackagist-theme/twentysixteen`.

I had noticed the discrepancy with the release zip.  But I didn't dig as deep as you did.  I hadn't realized that twentysixteen hadn't been added to svn repo.  That clearly explains why it isn't appearing in this project.

I think the only 'gotcha' for this project is that a clean WordPress

[2016-05-09 13:02] ogrosko opened #20 "Composer Wordpress maintenance mode"
I created some simple scripts for enabling/disabling [wordpress maintenance mode]([https://github.com/ogrosko/wp-composer-maintenance)

Maybe it would be part of composer package

[2016-05-09 13:49] johnpbloch commented on #20
The best way to get that into this repository would be to get it into WordPress core. This isn't a project where any actual development happens.

[2016-05-09 13:49] #20 closed

[2016-05-12 08:58] AppSynergy commented on #19
https://core.trac.wordpress.org/ticket/34306

So they've decided to ship 6 themes that are **not** the default, but exclude the one that is.

Yeah.

[2016-07-12 07:12] khromov commented on #14
Any movement on this? Installing the `johnpbloch/wordpress` now forces you to also install 6 additional themes. (Twenty-eleven to Twenty-sixteen) :cry:

[2016-07-12 14:07] craigedmunds opened #21 "WP 4.6 beta 2"
Hi John, we use your distribution via trellis, wondered if you're intending to support the beta channel, i.e. https://wordpress.org/news/2016/07/wordpress-4-6-beta-2/?

[2016-08-16 19:37] swissspidy commented on #21
As beta releases in WordPress aren't specifically tagged or anything (just ordinary ZIP files), you can only use the `4.x-dev` versions as these are based on the Subversion branches.

[2016-08-16 19:38] swissspidy commented on #10
As beta releases and RC's in WordPress aren't specifically tagged or anything (just ordinary ZIP files), you can only use the `4.x-dev` versions as these are based on the Subversion branches. The content is the same.

[2016-08-23 19:59] mikelking opened #22 "PHP Fatal error: Call to undefined function apply_filters()"
wp-includes/load.php on line 317

@johnpbloch ,

Recently (this afternoon), I decided to try and build our tree using;

[code]

Since then I've been stuck at the php fatal. It looks' like something is not fully hydrating in the build. To troubleshoot further I manually pulled the wordpress-4.6.tar.gz form .org and unpacked it over the destination. The fatal has ceased.

Any thoughts on how to trou

[2016-08-23 21:02] johnpbloch commented on #22
I'll take a look. Sometimes the script barfs.

[2016-08-23 21:29] johnpbloch commented on #22
I just threw together a stock install from this package and did not receive this error. I imagine it must have something to do with plugins, themes, or something else happening in addition to the core package. I *can* say that the filter triggering this error is new to 4.6, so maybe start looking there for a possible conflict in your site's custom code.

Thanks for coming by to report the issue!

[2016-08-24 19:07] mikelking commented on #22
Thanks @johnpbloch for answering back. I know this is a fairly automated system so I did some more digging and even ended up creating my own wordpress repo built from the wp release tarballs then modified the composer manifest accordingly. Anyway long story short it was the wp-cli/wp-cli version 0.20.4 being incompatible with current release. It took a while to get everything downgraded to support

[2016-08-24 19:26] johnpbloch commented on #22
It sounds to me as if this was a conflict between the version of WordPress itself and the version of WP CLI being used, is that correct? If so, I think we can close this issue.

As far as managing this sort of conflict, etc. in the future, you could always require WP CLI from your site's `composer.json` and use `vendor/bin/wp` rather than `wp`, which would ensure that you're always using a compati

[2016-08-24 23:34] mikelking commented on #22
Indeed I think we can close. We did have the wp-cli required in the composer.json but it was locked to  the older version and there were symphony dependencies that were oddly holding it there. Anyway it was a god learning experience. Thanks for your help and patience.

[2016-08-25 00:38] jlyon commented on #22
Upgrading wp-cli from 0.21.1 to 0.24.1 fixed the issue for me too
[code]

[2016-08-25 13:01] mikelking commented on #22
@jlyon,

I'm glad that I posted this. Hopefully it'll help more people when they are searching for answers.

cheers,
m

[2016-08-25 13:21] #22 closed

[2016-10-05 15:03] #10 closed

[2016-10-06 08:22] puredazzle commented on #14
+1

[2017-01-03 16:53] #2 closed

[2017-01-05 15:54] malthejorgensen opened #23 "Setting `"wordpress-install-dir": "."` erases installation directory"
I wanted to install Wordpress in the same folder as the rest of my files so I set

[code]
in `composer.json`.

This erased all files in the directory, including the `.git`-folder and `.gitignore` – leaving only the files from this repository (johnpbloch/wordpress).

[2017-01-05 16:13] johnpbloch commented on #23
Hi @malthejorgensen,

Thanks for reporting the issue. I think this is not quite the way you want to go about doing what you want to do. That being said, the installer shouldn't let that mistake happen. I'm not at my computer at the moment, so could you please copy this issue one to my `wordpress-installer` repository? I'll work on a fix that prevents composer from accidentally overwriting an impor

[2017-01-05 16:20] malthejorgensen commented on #23
Yeah, I thought I was a bit overzealous :rofl:

I'll do that.

Thank you, I was thinking about doing a pull request myself, but created the issue as a reminder. If you have the time, I think it makes more sense for you to do it, as you have the understanding of how the package works. Otherwise, I can do it :)

[2017-01-05 16:20] #23 closed

[2017-01-26 20:40] djvdorp opened #24 "Push v3.9.16 tag to Packagist"
Sorry for bothering you about this, but I'd like to update my deployments to v3.9.16 asap, and according to Packagist you can only trigger this refresh (it's not there yet):

[code]

[2017-01-26 21:17] joshdaws opened #25 "4.6.3 is missing"
I see 4.7.2, but I don't see 4.6.3 that was released at the same time.

[2017-01-26 21:23] johnpbloch commented on #25
Fixed.

[2017-01-26 21:23] #25 closed

[2017-01-26 21:23] johnpbloch commented on #24
Fixed.

[2017-01-26 21:23] #24 closed

[2017-01-26 21:24] joshdaws commented on #25
Thanks for the quick response!

[2017-01-27 06:09] djvdorp commented on #24
Thanks a lot! :+1:

[2017-01-30 03:49] dzuelke commented on #5
... so? :) I'd love it if this package provided `wordpress/wordpress`, too =)

[2017-03-06 18:37] archon810 opened #27 "4.7.3 missing from https://packagist.org/packages/johnpbloch/wordpress"
Hi,

How often does Packagist refresh https://packagist.org/packages/johnpbloch/wordpress? 4.7.3 has been live for 2 hours now. Is there a way to trigger a refresh on Packagist by any of us users?

Thanks.

[2017-03-06 19:13] archon810 commented on #27
OK, it's there now. If there's any way to speed this up in the future, that'd be great. Security updates are very important for WP.

[2017-03-18 06:05] #27 closed

[2017-03-18 06:07] #19 closed

[2017-03-18 06:07] #6 closed

[2017-03-20 10:50] lesterchan opened #28 "WordPress not installing?"
Just x-posting it here https://github.com/johnpbloch/wordpress-core-installer/issues/12

[2017-04-03 12:14] laurenskling opened #30 "http://composer.rast.net leads to spam site"
the link http://composer.rast.net in your readme doesn't seem right to me

[2017-04-18 02:00] ntwb commented on #30
This was fixed in #29

[2017-04-20 19:19] archon810 commented on #27
Same thing happening with 4.7.4. https://wordpress.org/news/2017/04/wordpress-4-7-4/ released over an hour ago.

[2017-04-20 19:27] johnpbloch commented on #27
The core team hasn't tagged the release in svn yet: http://develop.svn.wordpress.org/tags/

[2017-04-20 19:28] johnpbloch commented on #27
and of course, as soon as i say that, they did. 🙄

[2017-04-20 21:16] archon810 opened #31 "Trying to update to 4.7.4: "Two packages cannot share the same directory""
Hey @johnpbloch,

Now that 4.7.4 is up in wpackagist, I'm trying to update to it as per usual for 2 sites, and both are suddenly failing with this composer error:

"Two packages cannot share the same directory"

Here are some debug details: https://gist.github.com/62bbcb504867efc53c7331a0709c5c9c.

[2017-04-20 22:16] archon810 commented on #31
In case someone runs into it, the solution is to uninstall and then reinstall.

https://twitter.com/johnpbloch/status/843118287760379906

[2017-04-22 14:29] strarsis opened #32 "WordPress 4.7.4: File integrity issues?"
After upgrading from WordPress 4.7.3 to 4.7.4 I get core file integrity issues reported by WordFence.
Hence I downloaded the official WordPress 4.7.4 release zip and composer-required the johnpbloch/wordpress package and then compared both directories.

And indeed (besides extra misc files like composer.json) there are differences
in minified JavaScript files and inlined code parts in some PHP fil

[2017-04-22 15:49] retlehs commented on #32
also seeing this

[code]

[2017-04-22 19:07] johnpbloch commented on #32
Since I build the core package from source, the compiled and minified scripts and stylesheets have slightly different contents. My package is not the same as the .org package.

If you're interested in reviewing how I'm generating the core package, check out the build script at https://github.com/johnpbloch/build-wp

[2017-04-22 19:30] strarsis commented on #32
@johnpbloch: Would it be possible to make the minified files match the checksums?
There are several reasons why this would be much better, including integrity checks, WAF like WordFence scans.

[2017-04-22 19:42] johnpbloch commented on #32
I think it's certainly possible for future tagged versions. It's honestly not a high priority for me. I'd certainly be happy to accept a contribution to the build script if you or another interested person sent in a pull request.

[2017-04-22 19:42] #30 closed

[2017-04-22 23:12] strarsis commented on #32
@johnpbloch: I just rebuilt 4.7.4 (using the receipt in build-wp repository) and now the text files are identical. Maybe the WordPress devs changed something last-minute after release and retagged?

[2017-04-26 13:01] strarsis commented on #32
@johnpbloch: I think an additional release (with an extra segment after patch level, deviating from semver but following the composer version specs/examples (see https://getcomposer.org/doc/articles/versions.md)) will use the now correct 4.7.4 svn tagged commit and result in a checksum satisfying composer package.

[2017-05-01 23:13] johnpbloch commented on #32
@strarsis I took some time to adjust the build script today. Tags no longer build from develop.svn but rather simply use the zip file distributed on wordpress.org for building tagged releases. What that means is that going forward, this shouldn't be a problem again, and releases should get to packagist faster to boot.
I'm going to look into getting a new set of releases tagged in the repo, probabl

[2017-05-02 11:46] ollietreend commented on #32
Great work @johnpbloch – thanks for this!

I came here wondering why my app has just updated to 4.7.4.1 despite that not being an official release – I was a little confused, but this makes sense. Using the official ZIP releases makes sense rather than rebuilding from source.

[2017-05-17 02:50] jnweaver opened #33 "4.6.6, 4.5.9 etc have erroneous dependencies"
All of the older (older than 4.7.x) versions of this latest May 16, 2017 patch release of WP core, have composer dependencies for `"johnpbloch/wordpres-core": "4.6.x-dev"`, `"johnpbloch/wordpres-core": "4.5.x-dev"`, etc.

These are in addition to the correct wordpress-core dependencies (e.g. `"johnpbloch/wordpress-core": "4.6.6"`

It results in composer errors such as:

[code]

[2017-05-17 08:14] royduin commented on #33
Same issue here...

[2017-05-17 09:03] JohNan commented on #33
Same issue with latest 3.9.19

[code]

[2017-05-17 09:05] djvdorp commented on #33
+1

[2017-05-17 11:57] johnpbloch commented on #33
This has been fixed and `*.1` releases for all of the latest versions on the `3.7`-`4.6` branches have been pushed up (e.g. `4.6.6.1`, etc.).

[2017-05-17 11:57] #33 closed

[2017-05-17 12:11] royduin commented on #33
Awesome! Thanks!

[2017-05-17 12:29] jnweaver commented on #33
Thank you!

[2017-05-17 18:07] wunc commented on #32
I just want to note a side-effect: since the twentyeleven through twentyfourteen themes are not included in the zip (but are in the source), they are no longer installed since @johnpbloch updated the build script to build from the zip instead of the source. (At least I _think_ that's the reason.)

This threw me for a bit of a loop because I had activated them on a network site, and a couple of the

[2017-06-03 16:19] #32 closed

[2017-06-03 16:20] johnpbloch commented on #21
@craigedmunds This repository doesn't receive pre-release tags, but the [wordpress-core](https://github.com/johnpbloch/wordpress-core) does now. You can already check it out over there with 4.8 betas and release candidates.

[2017-06-03 16:20] #21 closed

[2017-06-03 16:21] #28 closed

[2017-06-03 16:21] #31 closed

[2017-07-12 07:18] dnaber-de opened #34 "Update or require a new version is not possible"
Since the restructuring of the package I frequently run into issues with composer require or update commands.

If I have for example WordPress installed at 4.6-branch and want to upgrade to 4.7-branch I'd normally do it by the require command:

[code]

What I would expect here is, that composer removes the 4.6-package and installs 4.7 instead. Like it does for example with `symfony/console`:

[cod

[2017-07-12 12:37] johnpbloch commented on #34
The issue here is that `composer require johnpbloch/wordpress:~4.7.0` doesn't do what it looks like you think it should. It sounds like you'd like it to do this:

- Update composer.json to reflect new requirements
- Run composer update

Unfortunately, that's not what it does. What it does is it updates the composer.json file and then tries to resolve dependencies without changing anything else in

[2017-07-12 12:44] johnpbloch commented on #34
I should add that the second option I listed is what is recommended by the creator of composer:

https://twitter.com/seldaek/status/851447070393237504 (thread)

[2017-07-12 12:48] johnpbloch commented on #34
Ah, I just learned about an option of which I was heretofore ignorant:

[code]

Should also do the trick.

[2017-07-12 13:57] johnpbloch commented on #34
Confirmed: `composer require --update-with-dependencies johnpbloch/wordpress:~4.7.0` works as expected:

[code]

[2017-07-13 20:38] dnaber-de commented on #34
Thanks a lot, John!

[2017-07-13 20:38] #34 closed

[2017-07-19 02:50] CMCDragonkai opened #35 "Translations"
Wordpress apparently has localised versions. Is there a way to update and install latest localised versions/translations?

[2017-07-19 03:15] johnpbloch commented on #35
I've never used it, but I've heard good things about https://wp-languages.github.io/

[2017-08-16 13:48] johnpbloch commented on #5
I just submitted a PR to add this to the build routine: https://github.com/johnpbloch/build-wp/pull/3

Please take a look and add your comments over there.

[2017-08-18 16:12] johnpbloch commented on #5
This has been added to the build script and the docker containers have been rebuilt. This will make its way into master within an hour and into the next round of tags/branches that get released. The virtual package is `wordpress/core-implementation`, and it is `johnpbloch/wordpress-core` that provides it, not this package.

[2017-08-18 16:12] #5 closed

[2017-08-18 16:16] #35 closed

[2018-10-30 09:00] Johnsontylk opened #36 "Path for autoload.php"
Hi,

I am having an issue with autoload.php path from other files after some changes with the new wp directory. Is there I nice clean solution to make sure a file loads autoload.php wp-config.php.
Where the root directory for NGINX is lower then the top level.

Example
app1.domain.com - Root Directory is Folder1
Top Level -> Folder1 -> Folder2 -> File (includes autoload.php and wp-config.php)

app

[2018-12-07 01:17] strarsis opened #37 "v5.0"
[WordPress 5.0 is out](https://wordpress.org/news/2018/12/bebo/) but I can't find its package release on [packagist](https://packagist.org/packages/johnpbloch/wordpress).

[2018-12-07 06:21] nextgenthemes commented on #37
There is a bot that is supposed to update it every 15 minutes. That bot does not seem to be open source or public at least my search for it turned nothing up. I think that is pretty bad as no one else can investigate and fix this. WP.org should have its own official composer package that is just updated as everything else.

[2018-12-07 06:33] archon810 commented on #37
https://twitter.com/ArtemR/status/1070927328409116672

I asked @m, we'll see if he responds.

[2018-12-07 09:51] kraftner commented on #37
@nextgenthemes AFAIK it's this: https://github.com/johnpbloch/build-wp

[2018-12-07 13:14] krishaamer commented on #37
Any update on this @johnpbloch?

[2018-12-07 13:20] koendoit commented on #37
He is from Irving, TX, think he is sleeping :)

[2018-12-07 15:39] maliksvd commented on #37
This is a weird delay and it's problematic.

[2018-12-07 15:40] retlehs commented on #37
please stop adding comments to this topic. you realize that this is an open-source project that someone volunteers their free time to manage, right?

pretty sure that it's already clear that there's an issue. no need to add more noise. ✌️

[2018-12-07 17:38] johnpbloch commented on #37
I'll get to this when I'm able. It may be as much as a number of days.

[2018-12-08 03:56] nextgenthemes commented on #37
I agree with that pinging him multiple times (while he sleeps) would be annoying to me but if this takes multiple days I think it should be OK to talk about it here.

The probably easiest and most straight forward solution to get 5.0 running with this is this in package.json:

[code]

But it will install the dev version and that may not be what you want. At this stage its probably more or less the

[2018-12-09 21:06] johnpbloch commented on #37
5.0 just got built and pushed. The root cause was that I'd added code to skip trying to commit, tag, and push when there were no changes made to the code. The command checking for changes to the repo didn't take untracked files into consideration. That's fixed now. Thanks again everybody for your patience.

For the record, I didn't think this thread was noisy or disrespectful of any boundaries or

[2018-12-09 21:06] #37 closed

[2018-12-09 21:08] archon810 commented on #37
Thanks @johnpbloch!

[2019-02-13 09:33] pxlrbt opened #38 "Wordpress reinstalls on every `composer require`"
When I add new packages to my composer file via `composer require` my wordpress is re-installed every time. Is this behaviour intended?

composer.json (Part)

[code]

[2019-02-13 15:37] johnpbloch commented on #38
Hi @pxlrbt, thanks for your question. I'm not sure what you're referring to when you say

Could you please clarify? What is the expected behavior, and what is the actual behavior you're seeing? Also, it might help if I had a bit more of your composer.json file (specifically the `extra` section).

Thanks!

[2019-02-13 16:02] pxlrbt commented on #38
@johnpbloch Thanks for the fast response and your help.

Here's my [composer.json](https://github.com/johnpbloch/wordpress/files/2861063/composer.txt)

**What I did:**
- I installed wordpress with composer
- I added plugins with composer via _wpackagist_
- Whenever I add a plugin via `composer require wpackagist-plugin/plugin-name` WordPress installer is running and copying the same version of Wor

[2019-02-13 16:54] johnpbloch commented on #38
Ah, I see the issue now. The post-install and post-update scripts are removing the package from its installed location, so yes, this is the behavior I would expect given the composer.json you're using. Composer is looking for WordPress in `wp-tmp` and doesn't find it there. When it finds a package missing, it installs it.

I wonder if you could achieve the desired effect by changing the scripts to

[2019-02-13 17:00] johnpbloch commented on #38
Also, regarding the .lock file, that only records the results of dependency resolution, not what's installed. It's a way for composer to skip dependency resolution (which is time consuming) for a known set of dependencies. If you're interested in more detail on this topic, [here's a good article breaking down the lock file and its purpose](https://www.engineyard.com/blog/composer-its-all-about-the

[2019-02-13 17:16] pxlrbt commented on #38
Never thought about this being an composer issue since removing packages from the vendor path normally isn't a thing. Your scripts work like a charm. Thank you very much and sorry for bothering with issues unrelated to your great installer.

[2019-02-13 17:16] #38 closed

[2019-02-13 17:47] johnpbloch commented on #38
No bother at all!

[2019-02-22 10:10] SeBsZ commented on #37
Hey @johnpbloch, adding here because this issue may be related. Wordpress 5.1 was released yesterday, but it seems 5.1 isn't on packagist yet.

[2019-02-22 12:14] 7php opened #39 "TAG 5.1 is not yet there?"
Hi,
been more than 24hrs since wordpress v5.1 is LIVE.. but there is not 5.1 tag yet?
/c @johnpbloch

[2019-02-22 12:41] SeBsZ commented on #39
Yeah, I mentioned it in this closed issue here: https://github.com/johnpbloch/wordpress/issues/37 because the same thing happened with 5.0. Though it might be better to create a new issue. thanks!
I'm sure this will be fixed very quickly.

[2019-02-22 14:04] johnpbloch commented on #39
This is related to https://github.com/johnpbloch/wordpress-core/issues/19

In an effort to keep the problem from getting worse, I temporarily turned off the bot. It'll be back online this morning and 5.1 will get picked up then. Sorry for any inconvenience!

[2019-02-22 14:20] 7php commented on #39
Ok @johnpbloch , thank you for the response. It's OK, things happen, thankful that you are addressing it.
And thank you for all you do with johnpbloch/wordpres

cheers

[2019-02-22 17:18] hackles commented on #39
fwiw [`roots/wordpress`](/roots/wordpress) is a drop-in replacement and has 5.1 ¯\\_(ツ)\_/¯

[2019-02-22 18:26] johnpbloch commented on #39
@hackles true story. When I saw what @austinpray did to make `roots/wordpress` I was kicking myself for a week for not having thought of such an elegant solution.

5.1 has been built and tagged in this repo as well now.

[2019-02-22 18:26] #39 closed

[2019-02-22 19:26] archon810 commented on #37
5.1.0 is there now \o/

[2019-02-22 21:24] austinpray commented on #39
@johnpbloch Thanks man! Yeah I was pretty happy with what I ended up with. Definitely feel free to use as much of the code/concepts as you want if you think it is useful. We were trying to avoid cross-promoting our package in this repo. Piggybacking on bug reports seems in poor taste. But it seems @hackles knew that since he made a throwaway haha.

[2019-03-05 13:47] eyalroth opened #40 "Installer should respect custom package types (for the core themes and plugins)"
Imagine a situation where one desires to keep the `wp-content` directory separate from the core wordpress files, much like described in [this blog post / guide](https://deliciousbrains.com/install-wordpress-subdirectory-composer-git-submodule/).

The directory structure would look something like so:
[code]
(There's no actual need for the additional nesting under the `public` directory, it's just a

[2019-03-05 16:56] johnpbloch commented on #40
Thanks for stopping by. It would be a significant backwards-compatibility break to strip out the core themes/plugins, so that's not happening in the [wordpress-core](https://github.com/johnpbloch/wordpress-core) repository or in this repository's composer.json manifest. Also, considering those themes and plugins aren't actually installed directly by composer, it doesn't seem appropriate to try to

[2019-03-05 16:56] #40 closed

[2019-03-05 17:03] johnpbloch commented on #36
I'm not sure what's being asked here, but this doesn't seem to be related to this package specifically.

[2019-03-05 17:03] #36 closed

[2019-03-05 17:09] eyalroth commented on #40
@johnpbloch Well my problem is mostly that wordpress is being installed this way in an unstable state. I don't really mind about the default themes, so the second option looks good to me. Thanks 😄

[2019-03-07 19:06] eyalroth commented on #40
@johnpbloch FYI your example MU plugin doesn't work properly - the core themes appear on the theme list in wp-admin, but they will not function properly - complaining about the theme not being found when trying to customize them or load any page with any of them activated.

This seems to stem from the [get_raw_theme_root](https://developer.wordpress.org/reference/functions/get_raw_theme_root/) met

[2019-03-13 10:45] mickenorlen commented on #14
+1

[2019-03-28 08:38] royduin opened #41 "Where is the 5.0.5 release?"
The release is listed here: https://github.com/WordPress/WordPress/releases

[2019-03-29 21:10] johnpbloch commented on #41
Not sure why, but the core team didn't see fit to release it here: https://wordpress.org/download/releases/

[2019-03-29 21:13] johnpbloch commented on #41
Huh. https://github.com/WordPress/WordPress/compare/88852fe...d610356 doesn't look like there's anything to release in 5.0.5? I'm a little confused here.

[2019-03-29 21:20] johnpbloch commented on #41
Sorry to bother you @pento. Since you're the author of the above commit, can you shed some light on the 5.0.5 release and why it's not on the .org download page/why it's the same as 5.0.4 in the github mirror?

[2019-03-29 21:57] pento commented on #41
5.0.5 was an accident. :)

I tagged 5.0.5 when I meant to tag 5.0.4. Systems haven't had a chance to delete the tag yet, because it's kind of fiddly to do. We may just skip 5.0.5 and go to 5.0.6 when the next 5.0.x release happens.

[2019-03-30 11:08] royduin commented on #41
Lol, thanks for the clarification @pento 👍

[2019-03-30 11:09] #41 closed

[2019-05-21 20:06] archon810 opened #44 "johnpbloch/wordpress 5.2.1 requires php 5.3.2 -> your PHP version (7.2.16) does not satisfy that requirement"
Hi,

Trying to update to 5.2.1 today, and getting this issue:

[code]

Any idea why?

Thanks.

[2019-05-21 20:10] archon810 commented on #44
How did this happen? I see the problem.

5.2.0: https://packagist.org/packages/johnpbloch/wordpress#5.2.0
[code]

5.2.1: https://packagist.org/packages/johnpbloch/wordpress#5.2.1

[code]

[2019-05-21 20:58] johnpbloch commented on #44
@archon810 Thanks for bringing this to my attention. As a temporary workaround, you can change the dependency to `johnpbloch/wordpress:5.2.x-dev`, as it's not affected by this problem. I'll be pushing out updates soon, but this is a result of [the build script](https://github.com/johnpbloch/build-wp/blob/master/build-wp.sh#L202) not including the `>=` for this repo.

[2019-05-21 21:19] szepeviktor commented on #44
@johnpbloch Could you move the 5.2.1 tag?

[2019-05-21 21:26] szepeviktor commented on #44
[code]

[2019-05-22 00:40] rfair404 commented on #44
I too am having this issue.
[code]

[2019-05-22 10:38] kraftner commented on #44
@szepeviktor I guess the issue for you is [`minimum-stability`](https://getcomposer.org/doc/04-schema.md#minimum-stability) in your root `composer.json` since you're trying to install a dev dependency.

[2019-05-22 10:40] szepeviktor commented on #44
@kraftner Thanks.

I am trying without an existing composer.json.

[2019-05-22 16:14] Rarst commented on #44
A quick override without package change `composer update --no-dev --ignore-platform-req`

PS btw PHP 5.3.2 is _also_ outdated on WP 5.2.*, should be >=5.6.20

[2019-05-22 17:25] ihorvorotnov commented on #44
Great tip, completely forgot about it!
Although it's `--ignore-platform-reqs` (ends with s, plural form) :)

[2019-05-22 18:01] johnpbloch commented on #44
Ok, sorry for the delay here. I just pushed a commit that sets php requirements for 5.2.1 to the correct `>=5.6.20` and update the 5.2.1 tag to point to the updated commit. Composer update and install procedures should work as expected without work-arounds going forward. The underlying cause has been addressed in the build repo, so it won't be re-appearing.

[2019-05-22 18:04] johnpbloch commented on #44
(I should also note that I had to go into packagist and manually update the repo, so there might be some delay getting the updated manifest into your pipelines.)

[2019-05-22 18:04] #44 closed

[2020-04-30 09:25] grappler opened #47 "WordPress Core Installer - Version 2.0"
Will the WordPress Core Installer be updated to v2.0?

https://github.com/johnpbloch/wordpress-core-installer/releases/tag/2.0.0

[2020-04-30 13:08] johnpbloch commented on #47
Good question. Let me think on it a bit.

[2020-05-01 22:51] coreyworrell commented on #14
Any updates on this @johnpbloch ?

[2020-05-12 18:38] ocean90 commented on #47
@johnpbloch It should probably be changed to "^1.0 | ^2.0".

[2020-05-13 14:38] #47 closed

[2020-08-06 11:58] trolologuy opened #49 "Different behavior with `composer install` and `composer update` regarding wordpress themes and plugins"
Hello,

I'm encountering different behaviors with `composer install` and `composer update` regarding wordpress themes and plugins.
I want to import custom themes and plugins into wordpress, so I added them through the [composer path](https://getcomposer.org/doc/05-repositories.md#path) directive.

I'm not fully sure if this is a composer issue, an issue with your great project, or just me not doin

[2020-08-06 12:39] trolologuy commented on #49
Okey finally after coming across this [issue](https://github.com/johnpbloch/wordpress-core/issues/14), I noticed that indeed the install order in composer was different between the tests when the `composer.lock` was present or not.

What ultimately fixed it was to change the `composer.json` files in my templates and plugins to add the `johnpbloch/wordpress-core` package as required, to force insta

[2020-08-06 14:34] johnpbloch commented on #49
Hi @trolologuy,

Thanks for stopping by! I'm glad to hear that you've got it working for now. I personally would be worried about what happens when core updates, though. As I explained in the thread you found in the wordpress-core repository, these packages are not meant to support the standard WordPress installation of keeping wp-content inside ABSPATH.

The only way I know of to reliably use the

[2020-08-07 09:33] lkraav commented on #49
@trolologuy you might be interested in looking at https://github.com/wecodemore/wpstarter

And as always, keep it trololol.

[2020-08-19 04:26] thaodc opened #50 "[Media upload fails] Post-processing of the image failed likely because the server is busy or does not have enough resources. Uploading a smaller image may help. Suggested maximum size is 2500 pixels."
Hi everybody,

I have one issue when trying to upload media file to Azure cloud and I got the error message below:

[code]

If I turn on the Azure plugin option `Keep local files` then it work fine, but if I turn off that option then always got the error message above

![Screenshot (73)](https://user-images.githubusercontent.com/14971147/90591983-a3939880-e20e-11ea-9212-b06639fce50e.png)

Info:
PH

[2020-08-19 17:44] johnpbloch commented on #50
Hi @thaodc thanks for coming by! This appears to be unrelated to this repository. I'd suggest looking into the Windows Azure Storage plugin's support forums: https://wordpress.org/support/plugin/windows-azure-storage/

[2020-08-19 17:44] #50 closed

[2021-02-09 12:41] esipavicius opened #51 "Update to 5.6.1 Not works. -> Uncaught Error: Class 'WP_Site_Health' not found in"
I fixed it like
<img width="920" alt="Screenshot 2021-02-09 at 14 38 30" src="https://user-images.githubusercontent.com/7330677/107364725-82887200-6ae4-11eb-9100-059643a3cff0.png">

Trace:
<img width="932" alt="Screenshot 2021-02-09 at 14 40 17" src="https://user-images.githubusercontent.com/7330677/107364931-c54a4a00-6ae4-11eb-8d4d-56cd0139cd40.png">

`

              array (size=13)

[2021-09-09 22:40] szepeviktor opened #52 "Release v5.3.9 is not released"
https://github.com/WordPress/WordPress/releases is missing v5.3.9
@johnpbloch Do you know anything about it?
https://github.com/WordPress/WordPress/commits/5.3-branch
Thank you.

[2021-09-10 16:10] szepeviktor commented on #52
@johnpbloch Could you delete this issue?
I was asked by @desrosj

[2021-10-06 00:16] acalvino4 opened #53 "Installing wp-core to project root as dependency"
First of all, thanks so much for maintaining this project! it's always refreshing to see that there are in fact php developers who take time to make development best practices work in their projects, even if the framework out of the box doesn't support it.

Anyway, I know you say somewhere that if you want to install wp-core to root, this project is not for you. However, to me maintaining that thi

[2021-10-06 14:34] johnpbloch commented on #53
Thanks for putting this together! I think this is not something I'll be adding to the installer, just to keep the scope of the installer within where I want to maintain it. That being said, a separate installer and package that used it and required `johnpbloch/wordpress-core` directly which has this behavior would certainly be worth advertising here too.

Potential features aside, I'm going to loc

[2022-02-14 08:57] bravomediamats opened #54 "Installing Wordpress in public root"
This has been discussed multiple times, and the solution with a composer script to copy the contents from a subfolder intro root will work just fine.
I just wanted to share a discovery with composer config-settings that might help somebody.

If i specify that the vendor-dir should be hosted within the same folder as the wordpress-install-dir, composer does not remove the contents of the folder.

F